.main {
  background: #FFFFFF;
border-radius: 15px;
width: 80%;
margin: 10% auto;
}

.card {
  padding: 25px;
border-radius: 10px;
max-width: 12rem;
}

#one {
  background: #5C4E8E;
}

#two {
  background: #FFC000;
}

#three {
  background: #3FB65F;
}